@import 'reset.css';
@font-face {
  font-family: kanitregular;
  src: url(../../fonts/kanitregular.woff) format("webopen"), url(../../fonts/kanitregular.ttf) format("truetype"), url(../../fonts/kanitregular.eoteot?#iefix) format("embedded-opentype");
}
body {
  font-family: kanitregular;
  color: #000;
  background: #ffffff;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 66px;
  background-color: #fff;
  padding: 0 320px;
  position: fixed;
  width: 100%;
  max-width: 1920px;
  box-sizing: border-box;
  z-index: 15;
}
header img {
  cursor: pointer;
}
header nav {
  max-width: 515px;
  width: 100%;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #060402;
  line-height: 21px;
}
header nav ul li {
  cursor: pointer;
}

.logIn,
.lang {
  cursor: pointer;
}

.lang span {
  color: #929292;
}

.header_nav_logIn_lang {
  display: flex;
  max-width: 775px;
  width: 100%;
  justify-content: space-between;
}

.main {
  background: url(../../img/bg_main.jpg) center no-repeat;
  padding: 216px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  position: relative;
}
.main .bg_container {
  position: absolute;
  overflow: hidden;
  width: 100%;
  max-width: 1920px;
  top: 0;
  bottom: 0;
}
.main .bg_image {
  mix-blend-mode: screen;
}
.main .bg_image_rignt {
  position: absolute;
  left: 0;
  bottom: 0;
}
.main .bg_image_left {
  position: absolute;
  right: 0;
  bottom: 0;
  mix-blend-mode: screen;
}
.main .messaging {
  z-index: 1100;
  padding-left: 16.7%;
}
.main .messaging h1 {
  font-size: 70px;
  line-height: 105px;
}
.main .messaging p {
  font-size: 24px;
  line-height: 36px;
  max-width: 580px;
  color: #929292;
}
.main .messaging p strong {
  color: #ed1b24;
}
.main .messaging button {
  background: linear-gradient(177.93deg, #a91d1c 6.92%, #ed1b24 93.08%);
  border-radius: 100px;
  width: 266px;
  height: 60px;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 45px 0 85px 0;
}
.main .modal_form_container:before {
  display: inline-block;
  height: 100%;
  content: "";
  vertical-align: middle;
}
.main .modal_form_container {
  display: none;
  justify-content: center;
  background-color: #cccccf;
  padding: 10px;
  border-radius: 10px;
  position: fixed;
  top: calc(50% - 150px);
  left: calc(50% - 175px);
  z-index: 9999;
  width: 350px;
  height: 300px;
}
.main .modal_form_container #modal_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .modal_form_container #modal_form p {
  font-size: 18px;
  text-align: center;
  letter-spacing: 2;
  color: #000;
}
.main .modal_form_container #modal_form input {
  width: 300px;
  height: 35px;
  border: none;
  box-sizing: border-box;
  margin-bottom: 15px;
  background-color: #cccccf;
  border-bottom: solid 1px #ed1b24;
}
.main .modal_form_container #modal_form input[type=submit] {
  background: linear-gradient(177.93deg, #a91d1c 6.92%, #ed1b24 93.08%);
  border-radius: 100px;
  width: 266px;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0.3;
}

.services {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto -164px auto;
}
.services .first_block,
.services .second_block {
  display: flex;
  justify-content: space-between;
}
.services .first_block {
  margin-bottom: 30px;
}
.services .sub_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 31.8%;
  height: 380px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  background: url(../../img/bg_sub_block.png) center no-repeat;
}
.services .sub_block img {
  margin-bottom: 40px;
}
.services .sub_block h4 {
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #060402;
  margin-bottom: 22px;
  text-align: center;
}
.services .sub_block p {
  font-weight: 200;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 2px;
  color: #202020;
  max-width: 335px;
}
.services .bottom {
  min-height: 243px;
  background: url(../../img/bg_services_bottom.png) right bottom no-repeat;
}

.A2P {
  background: url(../../img/bg_services_top.png) right no-repeat;
  height: 212px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.A2P > span {
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ed1b24;
  line-height: 20px;
  margin-bottom: 10px;
}
.A2P h2 {
  font-size: 40px;
  color: #060402;
  margin-bottom: 20px;
}
.A2P .line {
  background-color: #ed1b24;
  height: 2px;
  width: 97px;
  margin: 0;
}

.wrapper {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
}

h3 {
  font-size: 40px;
  line-height: 40px;
  color: #060402;
}

.message_text {
  font-size: 24px;
  line-height: 36px;
  color: #060402;
  max-width: 740px;
}
.message_text span {
  color: #ed1b24;
}

.broadcasting {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), url(../../img/bg_broadcasting.jpg) no-repeat center;
  background-size: cover;
}
.broadcasting .text > span {
  display: inline-block;
  width: 252px;
  height: 2px;
  background-color: #ed1b24;
  margin-top: 21px;
}
.broadcasting .text a {
  display: inline-block;
  color: #ed1b24;
  text-decoration: none;
  font-size: 24px;
  margin-top: 23px;
  margin-left: 3px;
}
.broadcasting .text .common {
  margin-top: 58px;
  white-space: pre-line;
}
.broadcasting .svg_letters {
  margin: 76px 0 130px 63px;
}

.mms_messaging {
  padding-top: 60px;
  min-height: 2059px;
  box-sizing: border-box;
}
.mms_messaging .mms_text {
  max-width: 740px;
  width: 100%;
  margin-top: 20px;
}
.mms_messaging .mms_text > span {
  display: inline-block;
  width: 304px;
  height: 2px;
  background-color: #ed1b24;
  margin-top: 20px;
}
.mms_messaging .mms_text .common {
  margin-top: 60px;
}
.mms_messaging .mms_text .more {
  margin-top: 16px;
  margin-left: 3px;
}
.mms_messaging .mms_text a {
  color: #ed1b24;
  text-decoration: none;
}
.mms_messaging .mms_image {
  background: url(../../img/bg_mms_messaging.png) no-repeat right;
  background-size: contain;
  min-height: 695px;
  padding: 45px 55px 0 35px;
  box-sizing: border-box;
}

@media screen and (max-width: 1700px) {
  header {
    padding: 0 200px;
  }

  .header_nav_logIn_lang {
    max-width: 720px;
  }

  .mms_messaging {
    padding-bottom: 100px;
    min-height: auto;
  }
}
@media screen and (max-width: 1300px) {
  header {
    padding: 0 100px;
  }
  header nav {
    max-width: 400px;
  }

  .header_nav_logIn_lang {
    max-width: 600px;
  }

  .services,
.broadcasting,
.mms_messaging {
    padding-right: 30px;
    padding-left: 30px;
  }

  .services .sub_block {
    padding: 0 15px;
  }

  .broadcasting .svg_letters {
    margin-left: 0;
  }
  .broadcasting .text {
    max-width: 570px;
    padding-bottom: 100px;
  }

  .mms_messaging .mms_image {
    background: none;
    padding: 0;
  }
}
@media screen and (max-width: 1000px) {
  header {
    padding: 0 50px;
  }
  header nav {
    max-width: 350px;
  }

  .header_nav_logIn_lang {
    max-width: 500px;
  }

  .header_logo img {
    max-width: 80px;
  }

  .main {
    padding: 120px 0 54px 0;
  }
  .main .bg_image_rignt {
    display: none;
  }
  .main .messaging {
    padding-right: 8%;
  }
  .main .messaging h1 {
    font-size: 46px;
  }

  .services {
    margin-bottom: 60px;
  }
  .services .A2P {
    background: none;
    height: 140px;
  }
  .services .bottom {
    display: none;
  }
  .services .sub_block {
    height: 320px;
    background-size: 43%;
    width: 90%;
    margin: 15px;
  }
  .services .sub_block img {
    margin-bottom: 40px;
    width: 24%;
  }
  .services .sub_block h4 {
    font-size: 20px;
  }
  .services .all_blocks {
    display: flex;
    justify-content: space-evenly;
  }
  .services .first_block,
.services .second_block {
    flex-direction: column;
    margin: 0;
  }

  .mms_messaging .mms_image {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .lang {
    display: none;
  }

  header nav {
    display: none;
  }

  .header_nav_logIn_lang {
    width: auto;
  }

  .logIn {
    font-size: 18px;
  }

  .main .messaging {
    padding-left: 10%;
  }

  .services .A2P h2 {
    font-size: 36px;
  }

  .broadcasting .svg_letters {
    display: none;
  }

  h3 {
    font-size: 36px;
  }
}
@media screen and (max-width: 500px) {
  .main .messaging h1 {
    font-size: 30px;
  }

  .services .A2P h2 {
    font-size: 25px;
  }
  .services .all_blocks {
    flex-direction: column;
  }
  .services .all_blocks .sub_block {
    height: 275px;
    background-size: 35%;
    width: 70%;
  }
  .services .all_blocks .sub_block img {
    margin-bottom: 25px;
    width: 18%;
  }
  .services .first_block,
.services .second_block {
    align-items: center;
  }

  .services,
.broadcasting,
.mms_messaging {
    padding-right: 15px;
    padding-left: 15px;
  }

  .broadcasting {
    min-height: 470px;
  }
  .broadcasting .text .common {
    margin-top: 20px;
  }

  h3 {
    font-size: 25px;
    line-height: 28px;
  }

  .mms_messaging .mms_text .common {
    margin-top: 20px;
  }

  .message_text {
    font-size: 20px;
    line-height: 26px;
  }
}
